<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

  <Appenders>
    <Console name="console">
      <PatternLayout pattern="%d{ISO8601} %5p %c{1}: %m%n"/>
    </Console>
  </Appenders>

  <Loggers>
    
    <Logger name="cs3220" level="debug"/>
    
    <Root level="warn">
      <AppenderRef ref="console"/>
    </Root>
  
  </Loggers>

</Configuration>
